<section class="bg-white ">
    <img src={{imagen}} alt="">
    <h4 class="mx-10 font-serif text-2xl my-8">{{nombre}}</h4>
    <div class="">
        <ul class="mx-10 list-none opacity-50">
            <li class="flex justify-between border border-b-gray-500 my-2">
                <span>Adoption number</span>
                <span>{{numero}}</span>
            </li>
            <li class="flex justify-between border border-b-gray-500 my-2">
                <span>Type</span>
                <span>{{tipo}}</span>
            </li>
            <li class="flex justify-between border border-b-gray-500 my-2">
                <span>Gender</span>
                <span>{{genero}}</span>
            </li>
            <li class="flex justify-between border border-b-gray-500 my-2">
                <span>Race</span>
                <span>{{raza}}</span>
            </li>
            <li class="flex justify-between border border-b-gray-500 my-2">
                <span>Age</span>
                <span>{{edad}}</span>
            </li>
            <li class="flex justify-between border border-b-gray-500 my-2">
                <span>Color</span>
                <span>{{color}}</span>
            </li>
            <li class="flex justify-between my-2">
                <span>Owners</span>
                <span>{{duenios}}</span>
            </li>
        </ul>
        <button class="bg-gray-400 text-white py-8 w-full hover:opacity-70 duration-300 mt-10">
            A D O P T
        </button>
    </div>
    
</section>