<app-header
    titulo="Choose your next pet"
    descripcion="World's largest no-kill rescue and adoption"
/>

<section class="m-20 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-8">
    @for (pet of pets; track pet) {
        <app-card-pets
            [imagen]="pet.imagen"
            [nombre]="pet.nombre"
            [numero]="pet.numero"
            [tipo]="pet.tipo"
            [genero]="pet.genero"
            [raza]="pet.raza"
            [edad]="pet.edad"
            [color]="pet.color"
            [duenios]="pet.duenios"
        />
    }
</section>

<section class="py-10 bg-[#70949d] text-white">
    <p class="text-center">C H E C K O U T P E T S G A L L E R Y</p>
</section>
<section class="grid  sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-6">
    <img class="duration-300 hover:bg-slate-800 hover:cursor-pointer hover:scale-110 bg-black " src="galeri1.jpg" alt="">
    <img class="duration-300 hover:bg-slate-800 hover:cursor-pointer hover:scale-110" src="galeri2.jpg" alt="">
    <img class="duration-300 hover:bg-slate-800 hover:cursor-pointer hover:scale-110" src="galeri3.jpg" alt="">
    <img class="duration-300 hover:bg-slate-800 hover:cursor-pointer hover:scale-110" src="galeri4.jpg" alt="">
    <img class="duration-300 hover:bg-slate-800 hover:cursor-pointer hover:scale-110" src="galeri5.jpg" alt="">
    <img class="duration-300 hover:bg-slate-800 hover:cursor-pointer hover:scale-110" src="galeri6.jpg" alt="">
</section>
