<header class="fondoperro font-serif">
    <div class="py-2 flex items-center justify-between px-24">

        <img class="w-12" src="logonav.png" alt="">
    
        <nav class="flex text-white items-center">
            <app-menu-opciones/>

            <app-menu-redes/>
        </nav>       
    </div>
    <hr>
    <div class="text-white p-20">
        <div class="text-center">
            <h1 class="mb-5"><span class=" text-5xl font-bold"> About our shelter </span></h1>
            <span class=" text-3xl">World's largest no-kill rescue and adoption</span>
        </div>
    </div>
</header>