<div class="text-white sticky flex flex-wrap">
    <a class="mx-5 px-4 py-3 rounded hover:bg-white hover:text-black" [routerLink]="['/']" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" >Home</a>
    <a class="mx-5 px-4 py-3 rounded hover:bg-white hover:text-black" [routerLink]="['/About']" routerLinkActive="router-link-active" >About</a>
    <a class="mx-5 px-4 py-3 rounded hover:bg-white hover:text-black" [routerLink]="['/Why']" routerLinkActive="router-link-active" >Why Adopt?</a>
    <a class="mx-5 px-4 py-3 rounded hover:bg-white hover:text-black" [routerLink]="['/Pets']" routerLinkActive="router-link-active" >Pets</a>
    <a class="mx-5 px-4 py-3 rounded hover:bg-white hover:text-black" [routerLink]="['/Contact']" routerLinkActive="router-link-active" >Contact</a>
</div>
