<!-- <app-layout-main/> -->

<router-outlet> </router-outlet>

<div class="bg-white fixed right-0 flex bottom-24 shadow-xl px-6 py-3 items-center justify-center" >
    <span class="font-bold text-3xl"> 630+ </span>
    <div class="text-xs">
        <p>Bridge</p>
        <p> Demos</p>
    </div>
</div>

<div class="bg-red-500 fixed right-0 flex bottom-5 shadow-xl px-8 py-5 items-center justify-center text-white text-xs hover:bg-red-600" >
    <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
        </svg>
    </span>
    <p>BUY NOW $69</p>
</div>
