<section class="grid sm:grid-cols-1 lg:grid-cols-2 font-sans my-20">
    <div>
        <img class="w-auto" src="adopt-1.jpg" alt="">
    </div>
    <div class="text-center">
        <h2 class="font-bold my-10 text-4xl">Reason to adopt</h2>
        <p class="opacity-50 my-10">
            Vivamus fermentum elementum placerat. Sed lacinia rutrum viverra. Duis id pulvinar magna. Morbi viverra, arcu eu laoreet accumsan, leo tortor gravida mauris, nec dapibus nulla lacus et velit. Praesent mollis pellentesque turpis, eu efficitur justo tincidunt in. Vestibulum sapien purus, fermentum eu dictum vel, molestie rutrum justo. Sed volutpat varius nulla eu venenatis. Ut ac lacus maximus, consectetur nunc in, molestie mauris consectetur in fermentu
        </p>
        <button class="text-white bg-orange-900 px-20 py-5 rounded opacity-40" type="button">A D O P T  N O W</button>
    </div>
</section>

<section class="grid sm:grid-cols-1 lg:grid-cols-2 font-sans my-20">
    <div class="text-center">
        <h2 class="font-bold my-10 text-4xl">Choose your pet</h2>
        <p class="opacity-50 my-10">
            Vivamus fermentum elementum placerat. Sed lacinia rutrum viverra. Duis id pulvinar magna. Morbi viverra, arcu eu laoreet accumsan, leo tortor gravida mauris, nec dapibus nulla lacus et velit. Praesent mollis pellentesque turpis, eu efficitur justo tincidunt in. Vestibulum sapien purus, fermentum eu dictum vel, molestie rutrum justo. Sed volutpat varius nulla eu venenatis. Ut ac lacus maximus, consectetur nunc in, molestie mauris consectetur in fermentu
        </p>
        <button class="text-white bg-orange-900 px-20 py-5 rounded opacity-40" type="button">A D O P T  N O W</button>
    </div>
    <div>
        <img class="w-auto" src="adopt-2.jpg" alt="">
    </div>
</section>

<section class="grid sm:grid-cols-1 lg:grid-cols-2 font-sans my-20">
    <div>
        <img class="w-auto" src="adopt-3.jpg" alt="">
    </div>
    <div class="text-center">
        <h2 class="font-bold my-10 text-4xl">Reason to adopt</h2>
        <p class="opacity-50 my-10">
            Vivamus fermentum elementum placerat. Sed lacinia rutrum viverra. Duis id pulvinar magna. Morbi viverra, arcu eu laoreet accumsan, leo tortor gravida mauris, nec dapibus nulla lacus et velit. Praesent mollis pellentesque turpis, eu efficitur justo tincidunt in. Vestibulum sapien purus, fermentum eu dictum vel, molestie rutrum justo. Sed volutpat varius nulla eu venenatis. Ut ac lacus maximus, consectetur nunc in, molestie mauris consectetur in fermentu
        </p>
        <button class="text-white bg-orange-900 px-20 py-5 rounded opacity-40" type="button">A D O P T  N O W</button>
    </div>
</section>